.App {
  text-align: center;
}
/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
#attempt
{
    height:100px;
    width:10ch;
    font-size:60pt;
}
/*
#word
{
    font-size:24pt;
    font-color:#ff0000;
}
*/
#correct
{
    font-size:24pt;
}

#words-left
{
    font-size:24pt;
}

button
{
    border: 2px solid #000000;
    color: white;
    padding: 15px 41px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#say-word {
  background-color: #4CAF50; /* Green */
}
#say-word:active {
    background-color: darkgreen;
}

#check-it {
  background-color: #008cba; /* Blue */
}
#check-it:active {
    background-color: darkcyan;
}

#show-me {
  background-color: #f44336; /* Red */
}
#show-me:active {
    background-color: darkred;
}

.hidden { display:none; }

.flex-container {
    display: flex;
}